body {
   background-color: rgb(76, 131, 182);
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 0;
}
header {
    background-color: rgb(67, 172, 221);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
header a {
text-decoration: none;
    color: rgb(0, 217, 255);
    background-color: rgb(2, 54, 88);
    padding: 5px 20px;
    border-radius: 3px;
}
h1 {
/* margin-bottom:10px; } */
    margin: 0 10px;
/* Para referenciar Id é com # */}
main {
    padding: 16px;
}
section {
background-color: rgb(0, 175, 245);
border-radius: 16px;
margin: 10px 0;
padding: 16px;
}
section h3 {
    border-bottom: 2px solid rgb(106, 213, 255);
}
/* Para referenciar classe é com. */

h4  {
    color: rgb(9, 105, 194);
    
}
